.draggable {
    /* width: 70px; */
    margin: 20px;
    padding: 10px;
}

.dragging {
    color: white;
    background-color: purple;
    border: 1px solid pink;
}

#dropzone {
    width: 200px;
    border: 2px solid black;
    display: inline;
    position: absolute;
    right: 10px;
    top: 10px;
    margin: 20px;
    padding: 10px;
}

.collected {
    padding: 2px;
    margin: 10px;
}

.item {
    width: 70px;
}